/* 
1rem = 16px || 100%
1px = 16/100 = 6.25%
10px = 6.25%*10 = 62.5%
Now
1rem = 10px || 62.5%
*/
html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: var(--colorPrimary);
    margin: 0rem;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 2rem;
    max-width: 50rem;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center ;
    flex-direction: column;
}

a {
    text-decoration: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--colorText);
    background: var(--colorOrange);
}
  
::selection {
    color: var(--colorText);
    background: var(--colorOrange);
}

/* ========== FOR RESPONSIVENESS ========== */
@media (max-width: 950px) {
    .main__container {
        width: 60rem;
    }
}

@media (max-width: 650px) {
    .main__container {
        width: 45rem;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 47%;
    }
}

@media (max-width: 282px) {
    html {
        font-size: 35%;
    }
}